/*------------------------------------*\
    #FORMS
\*------------------------------------*/

input[type="text"],
input[type="password"],
textarea {
    padding: 15px;
    margin-bottom: 20px;

    border: 1px solid $color-borders;
    border-radius: 2px;


    &:active,
    &:focus {
        border: 1px solid $color-borders-active;
        outline: none;
    }

}

button {
    width: 170px;
    height: 40px;

    line-height: 40px;

    color: $color-white;
    background: $color-blue;

    border: 0px;
    border-radius: 2px;

    font-size: 18px;
    font-weight: 600;
}



hr {
    border-top: 0px;
    border-bottom: 1px solid $color-borders;

    margin-bottom: 15px;

    width: 100%;
}

.error {
    color: $color-red;
}
