.search-container {

    .sidebar-container {
        position: fixed;

        top: 0;
        left: 0;

        height: 100%;
        width: 300px;

        border-right: 1px solid $color-borders;
    }

    .detail-container {
        margin-left: 300px;
    }
}
